<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="CaseManagerDBConnectionString" connectionString="Data Source=CCC-PC;Initial Catalog=CaseManagerDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SPConnectionString" connectionString="Data Source=CCC-PC;Initial Catalog=SP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"></serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
