<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="CaseManagerDBConnectionString" connectionString="Data Source=CCC-PC;Initial Catalog=CaseManagerDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SPConnectionString" connectionString="Data Source=CCC-PC;Initial Catalog=SP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICasemanagerReceiver" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61411/CasemanagerReceiver.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICasemanagerReceiver"
        contract="ServiceReference1.ICasemanagerReceiver" name="BasicHttpBinding_ICasemanagerReceiver" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
